<!DOCTYPE html>

<html lang="en">
<head>
    <%- include('./_head.ejs') %>
</head>
<body>
    <main class="site-container">
        <%- include('./_header.ejs') %>

        <%- content %>

        <%- include('./_footer.ejs') %>

    </main>
    <a href="#top" class="scroll-top animated-element template-arrow-up" title="Scroll to top"></a>
    <div class="background-overlay"></div>
    <!--js-->
    <script type="text/javascript" src="/js/jquery-3.6.0.min.js"></script>
    <!--slider revolution-->
    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.tools.min.js"></script>
    <script type="text/javascript" src="/rs-plugin/js/jquery.themepunch.revolution.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ba-bbq.min.js"></script>
    <script type="text/javascript" src="/js/jquery-ui-1.12.1.custom.min.js"></script>
    <script type="text/javascript" src="/js/jquery.ui.touch-punch.min.js"></script>
    <script type="text/javascript" src="/js/jquery.isotope.min.js"></script>
    <script type="text/javascript" src="/js/jquery.easing.1.4.1.min.js"></script>
    <script type="text/javascript" src="/js/jquery.carouFredSel-6.2.1-packed.js"></script>
    <script type="text/javascript" src="/js/jquery.touchSwipe.min.js"></script>
    <script type="text/javascript" src="/js/jquery.transit.min.js"></script>
    <script type="text/javascript" src="/js/jquery.hint.min.js"></script>
    <script type="text/javascript" src="/js/jquery.costCalculator.min.js"></script>
    <script type="text/javascript" src="/js/jquery.prettyPhoto.js"></script>
    <script type="text/javascript" src="/js/jquery.qtip.min.js"></script>
    <script type="text/javascript" src="/js/jquery.blockUI.min.js"></script>
    <script type="text/javascript" src="/js/jquery.imagesloaded-packed.js"></script>
    <script type="text/javascript" src="/js/main.js"></script>
    <script type="text/javascript" src="/js/odometer.min.js"></script>
</body>
</html>