<!-- HEADER TOP BAR -->
<div class="header-top-bar-container clearfix">
    <div class="header-top-bar">
        <ul class="contact-details clearfix">
            <li class="template-phone"><a href="tel:607-722-3000">607-722-3000</a></li>
            <li class="template-clock">Mon - Fri: 8:00am - 5:00pm</li>
        </ul>
        <div class="search-container">
            <a class="template-search" href="#" title="Search"></a>
            <form class="search" action="search">
                <input type="text" name="s" placeholder="Search..." value="Search..." class="search-input hint" />
                <fieldset class="search-submit-container">
                    <span class="template-search"></span>
                    <input type="submit" class="search-submit" value="" />
                </fieldset>
            </form>
        </div>
        <ul class="social-icons">
            <li>
                <a target="_blank" href="https://www.facebook.com/pages/Rays-Auto-Service/155910781143644"
                    class="social-facebook" title="facebook"></a>
            </li>
        </ul>
    </div>
    <a href="#" class="header-toggle template-arrow-up"></a>
</div>
<!-- HEADER -->
<div class="header-container">
    <!--<div class="header-container sticky">-->
    <div class="vertical-align-table column-1-1">
        <div class="header clearfix">
            <div class="logo vertical-align-cell">
                <h1>
                    <a href="/" title="Rays Auto Service">Ray's Auto Service</a>
                </h1>
            </div>
            <a href="#" class="mobile-menu-switch vertical-align-cell">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </a>
            <!-- HEADER NAV -->
            <div class="menu-container clearfix vertical-align-cell">
                <nav>
                    <ul class="sf-menu">
                        <li><a href="/about">About</a></li>
                        <li>
                            <a href="/services" title="Services"> Services </a>
                            <ul>
                                <li>
                                    <a href="/services" title="Engine Diagnostics">
                                        Engine Diagnostics
                                    </a>
                                </li>
                                <li>
                                    <a href="/services" title="Lube, Oil and Filters">
                                        Lube, Oil and Filters
                                    </a>
                                </li>
                                <li>
                                    <a href="/services" title="Belts and Hoses">
                                        Belts and Hoses
                                    </a>
                                </li>
                                <li>
                                    <a href="/services" title="Air Conditioning">
                                        Air Conditioning
                                    </a>
                                </li>
                                <li>
                                    <a href="/services" title="Brake Repair">
                                        Brake Repair
                                    </a>
                                </li>
                                <li>
                                    <a href="/services" title="Tire and Wheel Services">
                                        Tire and Wheel Services
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="/contact">Contact</a>
                        </li>
                    </ul>
                </nav>
                <div class="mobile-menu-container">
                    <div class="mobile-menu-divider"></div>
                    <nav>
                        <ul class="mobile-menu collapsible-mobile-submenus">
                            <li><a href="/about">About</a></li>
                            <li>
                                <a href="/services" title="Services"> Services </a>
                            </li>
                            <li>
                                <a href="/contact">Contact</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>