<!-- HEADER TOP BAR -->
<div class="header-top-bar-container clearfix">
    <div class="header-top-bar">
        <ul class="contact-details clearfix">
            <li class="template-phone">(607) 722-3000</li>
            <li class="template-clock">Mon - Fri: 8:00am - 5:00pm</li>
        </ul>
        <div class="search-container">
            <a class="template-search" href="#" title="Search"></a>
            <form class="search" action="search.html">
                <input type="text" name="s" placeholder="Search..." value="Search..." class="search-input hint" />
                <fieldset class="search-submit-container">
                    <span class="template-search"></span>
                    <input type="submit" class="search-submit" value="" />
                </fieldset>
            </form>
        </div>
        <ul class="social-icons">
            <li>
                <a target="_blank" href="https://www.facebook.com/pages/Rays-Auto-Service/155910781143644"
                    class="social-facebook" title="facebook"></a>
            </li>
        </ul>
    </div>
    <a href="#" class="header-toggle template-arrow-up"></a>
</div>

<!-- HEADER -->
<div class="header-container">
    <!--<div class="header-container sticky">-->
    <div class="vertical-align-table column-1-1">
        <div class="header clearfix">
            <div class="logo vertical-align-cell">
                <h1>
                    <a href="/" title="RaysService">Ray's Auto Service</a>
                </h1>
            </div>
            <a href="#" class="mobile-menu-switch vertical-align-cell">
                <span class="line"></span>
                <span class="line"></span>
                <span class="line"></span>
            </a>
            <!-- HEADER NAV -->
            <div class="menu-container clearfix vertical-align-cell">
                <nav>
                    <ul class="sf-menu">

                        <li><a href="about.html">About</a></li>

                        <li>
                            <a href="services.html" title="Services"> Services </a>
                            <ul>
                                <li>
                                    <a href="service_engine_diagnostics.html" title="Engine Diagnostics">
                                        Engine Diagnostics
                                    </a>
                                </li>
                                <li>
                                    <a href="service_lube_oil_filters.html" title="Lube, Oil and Filters">
                                        Lube, Oil and Filters
                                    </a>
                                </li>
                                <li>
                                    <a href="service_belts_hoses.html" title="Belts and Hoses">
                                        Belts and Hoses
                                    </a>
                                </li>
                                <li>
                                    <a href="service_air_conditioning.html" title="Air Conditioning">
                                        Air Conditioning
                                    </a>
                                </li>
                                <li>
                                    <a href="service_brake_repair.html" title="Brake Repair">
                                        Brake Repair
                                    </a>
                                </li>
                                <li>
                                    <a href="service_tire_wheel.html" title="Tire and Wheel Services">
                                        Tire and Wheel Services
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li>
                            <a href="galleries.html" title="Gallery"> Gallery </a>
                            <ul>
                                <li>
                                    <a href="gallery_engine_diagnostics.html" title="Engine Diagnostics">
                                        Engine Diagnostics
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery_oil_change.html" title="Oil Change">
                                        Oil Change
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery_belts_hoses.html" title="Belts and Hoses">
                                        Belts and Hoses
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery_tire_change.html" title="Tire Change">
                                        Tire Change
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery_wheel_services.html" title="Wheel Services">
                                        Wheel Services
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery_lube_services.html" title="Lube Services">
                                        Lube Services
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery_brake_repair.html" title="Brake Repair">
                                        Brake Repair
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery_other_car_services.html" title="Other Car Services">
                                        Other Car Services
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <!-- <li>
                    <a href="team.html" title="Our Team"> Our Team </a>
                  </li> -->

                        <li>
                            <a href="about.html" title="Pages"> Pages </a>
                            <ul>
                                <li>
                                    <a href="about.html" title="About"> About </a>
                                </li>
                                <li>
                                    <a href="404.html" title="404 Not Found">
                                        404 Not Found
                                    </a>
                                </li>
                                <li>
                                    <a href="services.html" title="Services Style 1">
                                        Services Style 1
                                    </a>
                                </li>
                                <li>
                                    <a href="services2.html" title="Services Style 2">
                                        Services Style 2
                                    </a>
                                </li>
                                <li>
                                    <a href="service_engine_diagnostics.html" title="Single Service">
                                        Single Service
                                    </a>
                                </li>
                                <li>
                                    <a href="galleries.html" title="Galleries">
                                        Galleries
                                    </a>
                                </li>
                                <li>
                                    <a href="gallery_engine_diagnostics.html" title="Single Project">
                                        Single Gallery
                                    </a>
                                </li>
                                <li>
                                    <a href="team.html" title="Team"> Team </a>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a href="contact.html">Contact</a>
                        </li>

                    </ul>
                </nav>
                <div class="mobile-menu-container">
                    <div class="mobile-menu-divider"></div>
                    <nav>
                        <ul class="mobile-menu collapsible-mobile-submenus">

                            <li><a href="about.html">About</a></li>

                            <li>
                                <a href="services.html" title="Services"> Services </a>
                            </li>

                            <li>
                                <a href="contact.html">Contact</a>
                            </li>

                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>