/*-----------------------------------------------------------------------------

-	Revolution Slider 5.0 Default Style Settings -

Screen Stylesheet

version:   	5.4.5
date:      	15/05/17
author:		themepunch
email:     	info@themepunch.com
website:   	http://www.themepunch.com
-----------------------------------------------------------------------------*/
@font-face {
    font-family: revicons;
    src: url(https://rays-auto.netlify.app/rs-plugin/fonts/revicons/revicons.eot?5510888);
    src: url(https://rays-auto.netlify.app/rs-plugin/fonts/revicons/revicons.eot?5510888#iefix)
            format("embedded-opentype"),
        url(https://rays-auto.netlify.app/rs-plugin/fonts/revicons/revicons.woff?5510888)
            format("woff"),
        url(https://rays-auto.netlify.app/rs-plugin/fonts/revicons/revicons.ttf?5510888)
            format("truetype"),
        url(https://rays-auto.netlify.app/rs-plugin/fonts/revicons/revicons.svg?5510888#revicons)
            format("svg");
    font-weight: 400;
    font-style: normal;
}
[class*=" revicon-"]:before,
[class^="revicon-"]:before {
    font-family: revicons;
    font-style: normal;
    font-weight: 400;
    speak: none;
    display: inline-block;
    text-decoration: inherit;
    width: 1em;
    margin-right: 0.2em;
    text-align: center;
    font-variant: normal;
    text-transform: none;
    line-height: 1em;
    margin-left: 0.2em;
}
.tp-element-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
@keyframes rev-ani-mouse {
    0% {
        opacity: 1;
        top: 29%;
    }
    15% {
        opacity: 1;
        top: 50%;
    }
    50% {
        opacity: 0;
        top: 50%;
    }
    100% {
        opacity: 0;
        top: 29%;
    }
}
.tp-bullet {
    background: #fff;
}
.tp-caption img {
    background: 0 0;
    zoom: 1;
}
@keyframes tp-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0) rotateY(0);
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0);
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}
@keyframes tp-scaleout {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
        opacity: 0;
    }
}
@keyframes tp-bouncedelay {
    0%,
    100%,
    80% {
        transform: scale(0);
    }
    40% {
        transform: scale(1);
    }
}
@keyframes tp-rotate {
    100% {
        transform: rotate(360deg);
    }
}
@keyframes tp-bounce {
    0%,
    100% {
        transform: scale(0);
    }
    50% {
        transform: scale(1);
    }
}
.tp-bullet {
    width: 15px;
    height: 15px;
    position: absolute;
    background: rgba(255, 255, 255, 0.3);
    cursor: pointer;
}
.tp-bullet:hover {
    background: #fff;
}
._1977 {
    filter: contrast(1.1) brightness(1.1) saturate(1.3);
}
._1977:after {
    background: rgba(243, 106, 188, 0.3);
    mix-blend-mode: screen;
}
._1977:after,
._1977:before {
    content: "";
    display: block;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    pointer-events: none;
}
._1977 {
    position: relative;
}
._1977 img {
    width: 100%;
    z-index: 1;
}
._1977:before {
    z-index: 2;
}
._1977:after {
    z-index: 3;
}
